<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Library App{% endblock %}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="page">
      <header>
        <h1>{% block header %}Library App{% endblock %}</h1>
        <nav class="metanav">
          {% if not session.username %}
          <a href="{{ url_for('routes.login') }}">Log in</a>
          {% else %}
          <a href="{{ url_for('routes.logout') }}">Log out</a>
          <a href="{{ url_for('routes.list_books') }}">Books</a>
          {% endif %}
          <a href="{{ url_for('routes.register') }}">Register</a>
        </nav>
      </header>
      {% for message in get_flashed_messages(with_categories=True) %}
      <div class="flash {{ message[0] }}">{{ message[1] }}</div>
      {% endfor %}
      <main>{% block content %} {% endblock %}</main>
      <footer>&copy; 2025 Lee Palmer</footer>
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
