{% extends "base.html" %} {% block title %}Books{% endblock %} {% block content
%} 
<button class="add-book" type="button" onclick="openAddDialog()">
  Add Book
</button>
{% if books %}
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Published Year</th>
      <th>ISBN</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.publication_year }}</td>
      <td>{{ book.isbn }}</td>
      <td>
        <!-- prettier-ignore-start -->
        <button
          type="button"
          onclick='openEditDialog({{ book.id|tojson }}, {{ book.title|tojson }}, {{ book.author|tojson }}, {{ book.publication_year|tojson }}, {{ book.isbn|tojson }})'
        >
          Edit
        </button>
        <button
          class="btn-danger"
          type="button"
          onclick='openDialog({{ book.id|tojson }}, {{ book.title|tojson }})'
        >
          Delete
        </button>
        <!-- prettier-ignore-end -->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No books found.</p>
{% endif %}

<dialog id="deleteDialog">
  <form method="POST" id="deleteForm">
    <span class="close" onclick="closeDialog()">&times;</span>
    <p id="deleteMsg"></p>
    <button type="submit" class="btn-danger">Confirm Delete</button>
    <button type="button" onclick="closeDialog()">Cancel</button>
  </form>
</dialog>

<dialog id="editDialog">
  <form method="POST" id="editForm" action="/books/edit">
    <span class="close" onclick="closeEditDialog()">&times;</span>
    <label for="editBookTitle">Title:</label>
    <input type="text" name="title" id="editBookTitle" required>

    <label for="editBookAuthor">Author:</label>
    <input type="text" name="author" id="editBookAuthor" required>

    <label for="editBookYear">Published Year:</label>
    <input type="number" name="publication_year" id="editBookYear" required min="0">

    <label for="editBookIsbn">ISBN:</label>
    <input type="text" name="isbn" id="editBookIsbn" required pattern=".{10,}">

    <button type="submit" class="btn-danger">Save Changes</button>
    <button type="button" onclick="closeEditDialog()">Cancel</button>
  </form>
</dialog>

<dialog id="addDialog">
  <form method="POST" id="addForm" action="/books/add">
    <span class="close" onclick="closeAddDialog()">&times;</span>
    <label for="bookTitle">Title:</label>
    <input type="text" name="title" id="bookTitle" required>

    <label for="bookAuthor">Author:</label>
    <input type="text" name="author" id="bookAuthor" required>

    <label for="bookYear">Published Year:</label>
    <input type="number" name="publication_year" id="bookYear" required min="0">

    <label for="bookIsbn">ISBN:</label>
    <input type="text" name="isbn" id="bookIsbn" required pattern=".{10,}">

    <button type="submit" class="btn-danger">Add Book</button>
    <button type="button" onclick="closeAddDialog()">Cancel</button>
  </form>
</dialog>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='modal.js') }}"></script>
{% endblock %}
