{% extends "base.html" %} {% block title %}Library Home Page{% endblock %} {%
block header %}Home Page{% endblock %} {% block content %}
<section>
  <h2>Welcome to Fujitsu's Library Web App</h2>
  <p>
    This web app will allow you to add, view, edit and delete books, as well as
    reviews for those books.
  </p>
  <p>
    To get started, please <a href="/login">log in</a> or
    <a href="/register">register</a> if you don't have an account.
  </p>
  <p>Alternatively, use one of the example logins below to explore the app:</p>
  {% include "_user_table.html" %}
</section>
{% endblock %}
